.mod-pagination-top {
    margin-bottom: -30px;
    position: relative;
    top: 13px
}

.mod-list .hd {
    height: 54px;
    padding: 0 15px;
    border-bottom: 1px solid #d2d7e1;
    line-height: 54px;
    font-size: 18px
}

.mod-list .bd {
    overflow: hidden
}

.mod-list table {
    position: relative;
    width: 100%
}

.mod-list table thead {
    background: #f4f5f8
}

.mod-list table tbody tr {
    border-top: 1px solid #f1f1f1
}

.mod-list table tr {
    position: relative
}

.mod-list table th {
    position: relative;
    padding: 6px 10px;
    line-height: 20px;
    white-space: nowrap;
    text-align: left;
    font-weight: normal;
    cursor: pointer;
    color: #8e9ab5
}

.mod-list table th.sorted {
    background: #f8f8f8
}

.mod-list table th.no-sort, .mod-list table th.no-sort:hover {
    cursor: default
}

.mod-list table th.ascending:after, .mod-list table th.sorted:hover:after {
    position: absolute;
    right: 12px;
    top: 23px;
    display: block;
    content: '';
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #666 transparent
}

.mod-list table th.no-sort:hover:after {
    display: none
}

.mod-list table th.descending:after, .mod-list table th.descending:hover:after {
    position: absolute;
    right: 12px;
    top: 23px;
    display: block;
    content: '';
    border-width: 4px 4px 0;
    border-style: solid;
    border-color: #666 transparent
}

.mod-list table td {
    position: relative;
    padding: 16px 10px;
    line-height: 20px
}

.mod-list table td span.gray {
    color: #999
}

.mod-list table .level3, .mod-list table .level13 {
    color: #DE8100
}

.mod-list table .level4, .mod-list table .level14 {
    color: #E03636
}

.mod-list table a {
    display: inline-block;
    min-width: 64px;
    vertical-align: middle;
    word-wrap: break-word;
    word-break: break-all;
    color: #2d8cf0
}

.mod-list table a.address {
    font-size: 12px
}

.mod-list table img {
    margin-right: 5px;
    vertacal-align: middle
}

.mod-list table .time {
    display: block;
    min-width: 75px
}

.mod-list ul {
    overflow: hidden
}

.mod-list .item {
    position: relative;
    bottom: -1px;
    padding: 15px 10px;
    border-bottom: 1px solid #eeeff1
}

.mod-list .item .field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
    margin: 5px 0
}

.mod-list .item .field .key {
    color: #8e9ab5;
    min-width: 93px;
    width: 93px
}

.mod-list .item .field .value {
    color: #213654;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.mod-list .item .field .value a {
    color: #2d8cf0
}

.mod-list .loading {
    padding: 150px 0;
    line-height: 30px;
    text-align: center
}

.mod-list .star {
    background: #999;
    padding: 2px 4px;
    color: #fff;
    vertical-align: middle;
    font-size: 12px;
    border-radius: 2px
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .mod-list .bd {
        padding: 0;
        overflow: auto
    }

    .mod-list table th, .mod-list table td {
        padding: 15px 8px
    }

    .mod-list table a.address {
        min-width: 150px;
        font-size: 14px
    }

    .mod-list .star {
        display: none
    }
}

.media-medium .mod-list .bd {
    padding: 0;
    overflow: auto
}

.media-medium .mod-list table th, .media-medium .mod-list table td {
    padding: 15px 8px
}

.media-medium .mod-list table a.address {
    min-width: 150px;
    font-size: 14px
}

.media-medium .mod-list .star {
    display: none
}

@media screen and (max-width: 767px) {
    .mod-pagination-top {
        top: 8px
    }

    .mod-list .hd {
        padding: 0 12px;
        height: 44px;
        line-height: 44px;
        font-size: 16px
    }

    .mod-list .bd {
        padding: 0;
        overflow: auto
    }

    .mod-list table {
        min-width: 800px
    }

    .mod-list table th {
        padding: 6px
    }

    .mod-list table td {
        padding: 10px 6px
    }

    .mod-list table a.address {
        min-width: 150px;
        font-size: 14px
    }

    .mod-list .star {
        display: none
    }
}

.media-small .mod-pagination-top {
    top: 8px
}

.media-small .mod-list .hd {
    padding: 0 12px;
    height: 44px;
    line-height: 44px;
    font-size: 16px
}

.media-small .mod-list .bd {
    padding: 0;
    overflow: auto
}

.media-small .mod-list table {
    min-width: 800px
}

.media-small .mod-list table th {
    padding: 6px
}

.media-small .mod-list table td {
    padding: 10px 6px
}

.media-small .mod-list table a.address {
    min-width: 150px;
    font-size: 14px
}

.media-small .mod-list .star {
    display: none
}
